* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 70%;
  border: 1px solid grey;
  margin: 10px auto;
  box-shadow: 0px 0px 10px grey;
  word-wrap: break-word;
  /* overflow: hidden; */
}
.img_div {
  text-align: center;
}
.myPhtoto {
  width: 100px;
  margin-top: 5px;
  /* padding-top: 5px; */
  border: 2px solid gray;
}
.main_content {
  /* border: 1px solid grey; */
  display: flex;
}
.pInfo {
  text-align: center;
  font-style: italic;
}
hr {
  margin: 0px 10px;
}
p {
  line-height: 25px;
}
p span {
  font-weight: 700;
}
.h3 {
  background-color: grey;
  padding: 2px 5px;
  margin: 5px 0px;
  font-style: italic;
}
.h4 {
  background-color: lightgray;
  padding: 2px 2px;
}
.comapny p {
  margin-left: 20px;
}
li {
  margin-left: 20px;
  line-height: 25px;
}
li span {
  font-weight: 700;
}
.left_div {
  width: 50%;
  /* text-align: justify; */
  padding: 10px;
  /* float: left; */
}
.right_div {
  width: 50%;
  text-align: justify;
  padding: 10px;

  /* float: right; */
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .myPhtoto {
    width: 50px;
    margin-top: 5px;
    /* padding-top: 5px; */
    border: 2px solid gray;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  li span {
    font-size: 10px;
    font-weight: 700;
  }
  li {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
}
