* {
  padding: 0;
  margin: 0;
}
.column {
  float: left;
  width: 33%;
  margin: 2px;
  background-color: aquamarine;
}

.price {
  text-align: center;
  list-style-type: none;
  padding: 20px;
}

.header {
  font-size: 3rem;
}
.rate {
  font-size: 1.5rem;
}
