.card {
  background-color: ghostwhite;
  width: 20%;
  text-align: center;
  padding: 35px 0px 30px 0px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px palegreen;
  float: left;
  margin: 5px 10px;
  /* border: 1px solid silver; */
}
.header {
  font-size: xxx-large;
}
.rate {
  font-size: x-large;
}
ul {
  padding: 0px;
}
li {
  list-style-type: none;
  font-size: large;
  padding-top: 5px;
}
a {
  text-decoration: none;
  background-color: brown;
  padding: 5px 5px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}
