* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: lightgray;
  padding: 10px;
}
.header {
  display: flex;
}
.header img {
  /* width: 10%; */
  width: 70px;
}
.header .heading {
  display: flex;
  flex-grow: 1;
  color: white;
  background-color: rgb(20, 19, 19);
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
}
.main .asidebar {
  width: 30%;
  border: 1px solid blue;
  margin: 5px;
}
.content {
  width: 70%;
}
.content .navbar {
  display: flex;
  justify-content: space-around;

  /* flex-grow: 1; */
  /* justify-content: space-around; */
}
.content .navbar a {
  display: flex;
  justify-content: center;
  background-color: crimson;
  width: 10%;
  padding: 10px 20px;
  margin: 5px;
}
.content .box {
  display: flex;
  justify-content: space-around;
}
.content .box .box-1 {
  display: flex;
  justify-content: center;
  background-color: yellow;
  width: 30%;
}
.content .article {
  display: flex;
  justify-content: center;
  background-color: violet;
}
